{%- set sb_repos = pillar['gitfs_repos'] %}
{%- set sshfs_server = pillar.get('gitfs_sshfs_server', 'sshfs') %}
{%- set sshfs_port = pillar.get('gitfs_sshfs_port', '1022') | string %}
{%- set privkey = pillar.get('gitfs_privkey', '/root/.ssh/saltbox_ed25519') %}
{%- set saltbox_env = pillar.get('saltbox_env', 'saltbox') %}

{%- set sshfs_sock = sshfs_server if sshfs_port == 22 else '{}:{}'.format(sshfs_server, sshfs_port) %}

{#-
Add additional gitfs_remotes between following tagsin form of array, e.g.:
- file://my_repo:
  - base: master
- http://server/remote_repo:
  - base: master
#}
{%- load_yaml as gitfs_remotes_extra %}
{% endload -%}

fileserver_backend:
  - roots
  - gitfs

gitfs_base: ~

gitfs_pubkey: {{ '{}.pub'.format(privkey) | yaml_squote }}
gitfs_privkey: {{ privkey | yaml_squote }}

gitfs_remotes: {{- ' []' if not sb_repos }}
  {%- for repo in sb_repos %}
  # Salt.Box name: {{ repo.name }}
  - {{ 'ssh://git@{}/~/{}'.format(sshfs_sock, repo.local_path) | yaml_squote }}:
    - saltenv:
      - {{ saltbox_env | yaml_squote }}: [ ref: {{ repo.branch | yaml_squote }} ]
  {%- endfor -%}
  {%- if gitfs_remotes_extra %}
  {{ gitfs_remotes_extra | yaml(false) | indent(2) -}}
  {%- endif -%}
